<section id="education" class="section education-section">

  <div class="section-heading">

    <h2>
      {{ 'education.title' | translate }}
    </h2>
  </div>

  <div class="timeline">

    <!-- ESTUDIOS -->

    <article class="timeline-item">

      <div class="timeline-dot"></div>

      <div class="timeline-content">



        <span class="timeline-period">
          {{ 'education.items.degree.period' | translate }}
        </span>

        <h3>
          {{ 'education.items.degree.title' | translate }}
        </h3>

        <h4>
          {{ 'education.items.degree.institution' | translate }}
        </h4>

        <p>
          {{ 'education.items.degree.description' | translate }}
        </p>

      </div>

    </article>


    <!-- CERTIFICADO -->

    <article class="timeline-item">

      <div class="timeline-dot"></div>

      <div class="timeline-content">

        <span class="timeline-period">
          {{ 'education.items.course.period' | translate }}
        </span>

        <h3>
          {{ 'education.items.course.title' | translate }}
        </h3>

        <h4>
          {{ 'education.items.course.institution' | translate }}
        </h4>

        <p>
          {{ 'education.items.course.description' | translate }}
        </p>

      </div>

    </article>

  </div>

</section>